/** Overright Bootstrap **/
.navbar-fixed-top, .navbar-fixed-bottom{
    position: relative;
    margin-bottom: 0px;
}
/*************************/

body{
    font-family:  "Titillium Web";
}

.homepage-bg{
    /*background: url(../img/front-bg.png) no-repeat center center;*/
    
    
/*    background-image: url(../img/front-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;*/
}

.intro-header {
    padding-top: 20px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    /*text-align: center;*/
}

.front-text{
    color: #f8f8f8;
}

h3.front-text{
    font-size: 40px;
    /*font-weight: 600;*/
    margin-bottom: 24px;
}

.page-subHeading{
    margin-top: 0px;
}

p.front-text{
    font-size: 18px;
    line-height: 30px;
}

.home-point{
    color: #f8f8f8;
    font-size: 18px;
    margin: 36px 0;
}

.home-point i.fa {
    margin-right: 16px;
}

.home-social i.fa {
    color: #f8f8f8;
    font-size: 24px;
    margin: 10px 10px 10px 0;
}

.intro-message {
    position: relative;
    padding-top: 50px;
	text-align:justify !important;
    padding-bottom: 120px; //40%
}



/**************  Toggle Flip Button *****************/
.switch {
    float: right;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 50px;
  height: 24px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 24px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 24px;
}
/****************************************************/

.remember span{
    float: left;
    margin-top: 4px;
}

.loginBox{
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 4px;
    /*padding: 10px 20px;*/
    text-align: center;
    margin: 50px 0px 10px 60px;
}

.loginBox .innerBox{
    padding: 10px 20px;
}

.loginBox p{
    margin-bottom: 25px;
}

.loginBox .checkbox{
    text-align: left;
}

.loginBox .checkbox label{
    padding-left: 0px;
}

.loginform input[type="checkbox"]{
    display: block;
    float: right;
    position: relative;
    text-align: right;
    width: auto;
}
.forgetBox{
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 20px 0px 10px 60px;
    text-align: left;
}

.social-Btn{
    color: #FFF;
    border-radius: 2px;
    padding: 10px 15px;
    display: inline-block;
}

.sociallogin{
    border-top: 1px dashed #aaaaaa;
    margin: 10px 0;
    padding-bottom: 10px;
    padding-top: 20px;
}

.sociallogin a{
    text-decoration: none;
    width: 45%;
}

.sociallogin a:hover{
    color: #FFF;
}

.social-Btn.login{
    background: #02579E;
    border: none;
    width: 100%;
    margin: 15px 0px;
}

.social-Btn.google{
    background: #d34836;
}

.social-Btn.facebook{
    background: #3b5998;
}



.loginform input{
    margin: 8px 0px;
    padding: 10px 4px;
    border: 2px solid #DDD;
    border-radius: 4px;
    width: 100%;
    
}





/********  OTHER HOME PAGE  ********/

.head_bg {
    background: url(../img/front-bg.png) no-repeat scroll 20% 40% / cover rgba(0, 0, 0, 0);
    float: left;
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
}

.head_center {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    height: 100px;
    margin: 0 auto;
    width: 100%;
}

.head-Text {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-top: 25px;
}

.mainContent {
    padding-top: 150px;
    width: 100%;
    min-height: 550px;
}

.mainContent p {
    font-size: 16px;
}


/********** FAQ PART  ***********/

.faq_text3 {
    color: #333333;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    float: left;
    font-size: 16px;   
    margin-bottom: 15px;
    margin-left: 3px;
    padding-bottom: 15px;
    width: 100%;
	text-align:justify !important;
}
.faq_text2 {
    font-weight: 600;
}
.faq_content {
    background: none repeat scroll 0 0 #FFFFFF;
    color:#333333;
    display: none;
    float: left;
    font-size: 14px;   
    margin: 5px 0 0px -4px;
    padding: 8px 36px 8px 12px;
    /*width: 1150px;*/
    width: 900px;
    font-weight: normal;
}

.faq_arrow_img2 {
    background: url(../img/faqplus.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    float: left;
    height: 22px;
    margin-right: 10px;
    width: 22px;
}

.faq_text2 .faq_arrow_img2 {
    background: url(../img/faqminus.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    float: left;
    height: 22px;
    margin-right: 10px;
    width: 22px;
}

/*************** CONTACT FORM ************/
.contact-form
{
    margin-bottom: 50px;
}

.contact-upper{
    margin: 0px 15px;
}

.contact-form input
{
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.contact-form textArea
{
    width: 100%;
    border: 1px solid #ccc;
}

.contact-submit{
    width: 120px !important;
    background: #284A92;
    color: #FFF;
}

.contact-form .row{
    margin: 10px 0px;
}

.contact-r-heading{
    margin-top: 25px;
}

.contact-social{
    margin: 10px 0px;
    font-size: 16px;
}

.contact-social i.fa{
    width: 20px;
    margin-right: 10px;
}

.fbcolor{
    color: #3b5998;
}

.twcolor{
    color: #5EA9DD;
}

.gpcolor{
    color: #d34836;
}

footer {
    border: 1px solid;
    background: #282E3A;
    color: #424852;
}

footer.footer-blank{
    border: 0px;
    background: none;
}

.copyright {
    color: #CCC;
    font-size: 14px;
    margin: 15px 0;
}

.list-inline{
    color: #CCC;
    font-size: 14px;
    margin: 15px 0;
}

.list-inline a{
    color: #CCC;
}

.list-inline a :hover{
    color: #CCC;
}

.row{
margin-top:10px !important;
margin-bottom:10px !important;
padding: 0px 15px 0px 15px !important;
}
/*.button_gradient{
    border: 0 none;
    color: #fff;
    margin-right: 10px;
    padding: 5px 14px;
}
*/
.input_box_gradient{
	 border: 1px solid #bdbec0;
   padding: 4px 16px;
}
.fliter{
width:385px;
margin-bottom:10px;
}
#search_card{
margin-left:136px !important;
}

#cards{
float : none !important;
padding-left:60px !important;
padding-top:30px !important;
}
.card{
margin-right:30px !important;
cursor:pointer !important;
}

.card_blocks{
cursor:pointer !important;
margin-top:10px !important;
margin-bottom:10px !important;
}
.card_cursor{
cursor:pointer !important;
}
div.alphabets div.active {
    background-color: #3b5999;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    margin: 6px 6px 0 8px !important;
    padding: 2px 7px;
}
.no_record_found{
	margin-left:40%
}
.front_main{
  background:none !important;
  padding-top:0px !important;
  width:100% !important;
}
.card_details{
   background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-size: 16px;
    margin-bottom: 12px;
    margin-right: 10px;
    margin-top: 17px;
    padding: 10px 0;
}

.cursor_class{
 cursor:pointer !important;
}

#left_panel{ float:left; width:240px;font-size: 14px; margin-bottom: 60px;}

#main_content{ width:100%;
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
 }
a{ text-decoration:none; }
#main_container{ min-height:100%;
	position:relative;background:#FFFFFF; }

#main{ width:1170px; padding-top:30px; padding-bottom: 10px;}

#right_panel{ float:right; width:920px; background-color:#f5f5f5; font-size: 14px; border: 1px solid #e5e5e5;background-color:#fafafa; margin-bottom: 70px; min-height: 473px; border-bottom: 2px solid #e5e5e5; margin-right: 8px;}

#right_panel div#title{ font-family: TitilliumWeb_semibold; color:#4570AB; text-align: left; width: 100%; padding: 14px 20px; font-size: 20px;  }

.title_dashboard{
float:left;
font-weight:600; 
text-align:left;
padding:15px 0px 15px 0px;
width:100%;
}

.cancel-button-gradient{
    border: 1px solid #bdbec0;
    color: #fff;
    padding: 4px 16px;
    text-transform: uppercase;
}

.
button-gradient{
    padding: 4px 16px;
    text-transform: uppercase;
}
#date-panel{
width:100%;
}

#sr-date-range div#action input[type="button"]{

    border: 0 none;
    color: #fff;
    float: left;
    font-weight: bold;
    margin-left: -3px;
    padding: 8px 20px;	

}

.button-gradient_front{
    border: 0 none;
    color: #fff;
    float: left;
    font-weight: bold;
    margin-left: -3px;
    padding: 5px 20px;	

}
.button-gradient_front_cart{
    border: 0 none;
    color: #fff;
    font-weight: bold;
    margin-left: -3px;
    padding: 5px 20px;	

}

.button-gradient_front_cart_right{
    border: 0 none;
    color: #fff;
    font-weight: bold;
    margin-left: -3px;
    padding: 5px 20px;	
	float:right;

}

.sr-filter:first-child{
margin-left:12px !important;
}

.profit_report_extra{
	padding-top:10px !important;
	 float:right !important;
	 margin-right:50px !important;
}

.letters{
cursor:pointer;
}

.error-message{
color:#F00 !important;
font-weight:600 !important;
}

.current{
background:#666;
color:#FFF;
padding:5px;
}
#sb_card_names{
width:800px !important;
}
#sb_selected_card{
padding-left:10px !important;
}
#selected-filter div.left-part div:first-child{
padding-left:10px !important;
}
.active_sub{
background:#999 !important;
color:#FFF !important;
width:auto !important;
}
.search-by-filter{ border: 0px; color: #fff; padding: 6px 12px; }

.radio_price{
width:100%;
}

#clear_filter{
cursor:pointer;
}

label{
font-weight:normal !important;
}

.selected_filter{
float:left;
cursor:pointer;
margin-top:1px;
}

#card-details{
border: 1px solid #dfdfdf !important;
margin-top:40px !important;
}

/* New Css For Blue Backgroud Tabs*/

#top-strip,.sb-page-title,#title{
background:#03549F !important;
color:#FFF !important;
}
#strip-content{
color:#FFF !important;
}
/* End*/
.low_balance{
font-weight:600 !important;
font-size:16px !important; 
color:#F00 !important;
}

#navigation-panel ul li h3{
margin-left:-35px !important;
}
.frontSuccMessage,.frontErrorMessage{
	width: 50% !important;
	margin-left:30% !important;
}